{% extends "base.html" %}

{% block title %}Appraisals{% endblock %}

{% block content %}
{% load rest_framework %}
<div class="container">
<div class='btn-wrapper'>
  <a class="btn btn-info btn-lg top-btn" data-toggle="modal" data-target="#newAppraisal" title="new appraisal" data-tooltip>Submit a Appraisal</a>
</div>

<h1>Appraisals</h1>
<div class="list-group">
    <div class="row">
     <div class="col-sm-3 vcenter">
      <h5>Appraiser</h5>
    </div>
    <div class="col-sm-3 vcenter">
      <h5>Submission Description</h5>
    </div>
    <div class="col-sm-3 vcenter">
      <h5>Appraisal Comment</h5>
    </div>
    <div class="col-sm-3 vcenter">
      <h5>Is Fossil?</h5>
    </div>
  </div>
  {% for appraisal in appraisals %}
  <a href="/appraisals/{{ appraisal.id }}/" class="list-group-item">
    <div class="row">
      <div class="col-sm-3 vcenter">
        {{ appraisal.appraiser }}
      </div>
      <div class="col-sm-3 vcenter">
        {{ appraisal.submission.description }}
      </div>
      <div class="col-sm-3 vcenter">
        {{ appraisal.comment }}
      </div>
      <div class="col-sm-3 vcenter">
        {{ appraisal.is_fossil }}
      </div>
    </div>
  </a>
  {% endfor %}
</div>
</div>
<div class="modal fade" id="newAppraisal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
  <div class="modal-dialog modal-sm"> 
    <div class="modal-content">
      <div class="modal-body">
	    <form action="/appraisals/" method="POST" enctype="multipart/form-data">
		    {% csrf_token %}
		    	{% render_form serializer template_pack='rest_framework/vertical' %}
		    <input type="submit" value="Save">
		</form>
		</div>
    </div>
  </div>
</div>
</div>
{% endblock %}
